html {
height: 100;
}

body {
    margin: 0;
    height: 100%;
    font-family: Helvetica;
    color:yellowgreen;
}
h1 {
    margin: 0;
    height: 100%;
    font-family: fantasy;
    color: forestgreen;
}
h2 {
    font-family: fantasy;
    color:paleturquoise;
    text-align: center;
}
h3 {
    color: white;
}
h4 {
    color: tomato;
    text-align: right;
}

a {
    color: #fff;
}

header {
    background-color: rgb(68, 68, 68);
    padding: 100;
    color: #fff;
    text-align: center;
}

nav {
    background-color: #444;
    margin: 0px;
    text-align: center

}

nav ul {
    margin: 0px;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin:auto 25px;
}
img {
    display: inline-block;
    margin-left: 15%;
    height:300px;
    border-color: rgb(240, 255, 30);
    border-style: solid;
    border-width: 10px;
    position: initial;
}

section {
    width:90%;
    margin: 0 auto;
    padding: 5px;
    min-height: 800px;
}

footer {
    padding: 10px;
    background: red;
    text-align: center;

}